@model Product
@{
    ViewData["Title"] = "New";
}

<h1>New</h1>

@*<form asp-action="SaveNew" asp-controller="Product" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Image"></label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Category"></label>
        <input asp-for="Category" class="form-control" />
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Expiration"></label>
        <input asp-for="Expiration" class="form-control" />
        <span asp-validation-for="Expiration" class="text-danger"></span>
    </div>
   @*<div> 
         <label asp-for="Name"></label> 
         <input asp-for="Name" class="form-control" /> 
         <span asp-validation-for="Name" class="text-danger"></span> 
     </div>
     <div> 
         <label asp-for="Name"></label> 
         <input asp-for="Name" class="form-control" /> 
         <span asp-validation-for="Name" class="text-danger"></span> 
     </div> 
     <div> 
         <label asp-for="Name"></label> 
         <input asp-for="Name" class="form-control" />
         <span asp-validation-for="Name" class="text-danger"></span>
     </div> 

     <input type="submit" value="Add"/>
</form>*@

